p {color: blue;}
figure {border:1px solid rgb(0, 119, 255); background-color: lightslategray;}
figcaption {font-size: 200%;text-align: center; background-color: lightslategray;}
.bigboi {font-family: sans-serif;}
* {background-color: lightblue;}

